@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{ margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    display: grid;
    justify-content: center;
    background-color: rgb(57, 201, 44);
}

nav{
  background-color: yellow;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  position: fixed;
}
img {
    width: 60px;
    height: auto;
    margin-right: 10px;
}
.logo{
    margin-left: 50px;

}

.navList ul{
    display: flex;
    margin-right: 50px;
}
li{ 
    list-style: none;
    padding: 5px;
    margin-right: 3px;
}
a{
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    color: rgb(185, 22, 136);
    font-weight: 600;
}
li a:hover{
    background-color: rgb(34, 206, 28);
    color: white;
}
span{ 
    font-size: 2.5rem;
    color: rgb(11, 25, 228);
}
.logo{ 
    display: flex ;
    justify-content: center;
    align-items: center;
}

.Inicio{
    height: 90vh;
    padding: 100px;
}
.Galeria{
    height: vh;
}
.Datos{
    height: 100vh;
}
.contenedor{
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}
p{
    text-align: justify;
    padding: 20px;
    margin-right: 50px;
}
.Foto{ 
    width: 500px;
    height: auto;
    margin-left: 50px;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24)0px 3px 8px;
}
.section_galeria{
    display: flex;
    width: 700px;
    height: 450px;
}
.section_galeria .img_galeria{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.section_galeria .img_galeria:hover{
    cursor: crosshair;
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}
.contenedor_galeria{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contenedor_datos{
    display: grid;
    text-align: center;
    justify-content: center;
}
.p_datos{ 
    padding-left: 200px;
    padding-right: 100px;
}
.contenedor_tabla{
    width: 100%;
    display: flex;
    justify-content: center;
}
table{ 
    width: 60%;
    font-size: smaller;
    border: 3px solid rgb(16, 54, 223);
}
th,td{
    width: 10%;
    text-align: center;
    vertical-align: center;
    border: 2px solid rgb(8, 62, 133);
    border-collapse: collapse;
    padding: 0.3rem;
    caption-side: bottom;
}
caption{
    padding: 0.3rem;
    color: #fff;
    background: #000;
}
th{ 
    background-color: rgb(11, 8, 143);
    color: white;
}
footer{
    width: 100%;
    padding: 80px 0px;
    color: rgb(135, 156, 40);
}
.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  max-width: 1200px;   
  margin: auto;
  margin-top: 100px;
}
.box_footer{
    display: flex;
    flex-direction: column;
    padding: 1px;
}
.box_footer .logo img{
    width: 50px;
    border-radius: 50px;
}

.box_footer .terminos{
    max-width: 550px;
    font-weight: 500;
    color: black;
    font-size: smaller;
}
.box_footer h2{
    margin-bottom: 10px;
    color: #070707;
    font-weight: 700;
    font-size: smaller;
    
}
.box_footer a{
    color: #fff9f9;
    font-weight: 400;
    font-size: smaller;
}
.box_footer a:hover{
    opacity: 0.8;
}
.box_footer a .fa-brands{
    font-size: 20px;
    margin-right: 5px;
}
.box_copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}
.box_copyright p{
    margin-top: 5px;
    color: #000000;
    font-size: smaller;
}
.box_copyright hr{
    border: none;
    height: 1px;
    background-color: #343434;
}

@media (max-width:1000px){
    nav{ height: 60px;}
}
.logo{ margin-left: 10px;}

.navList ul{
    margin-right: 10px;
}
li{ 
    padding: 2px;
    margin-right: 2px;
}
a{ 
    font-size: medium;
    font-weight: 1000;
}
img{ 
    width: 40px;
    height: auto;
    margin-right: 10px;
}

span{
    font-size: x-large;
    color: rgb(95, 3, 3);
}

.contenedor{
    margin-top: 8px;
    display: flex;
}

.Foto{ 
    width: 600px;
    height: auto;
}
p{
    text-align: justify;
    padding: 10px;
    margin-right: 10px;
}
.contenedor_galeria{
    margin-top: 150px;
}
.contenedor_datos{ 
    margin-top: 150px;
}
.p_datos{ 
    padding-left: 20px;
    padding-right: 20px;
}

table{
    margin-top: 80px;
    width: 85%;
    font-size: medium;
}

